<app-cusnavbar></app-cusnavbar>

<div class="row">

    <div class="col-lg-8 col-md-6">

        <table class = "table table-striped">
            <thead>
                <tr>
                    <th scope="col">Sl No</th>
                    <th scope="col">ID</th>
                    <th scope="col">Job Title</th>
                    <th scope="col">Date</th>
                    
                </tr>
            </thead>
        
            <tbody>
            
                <tr>
                    <td>1</td>
                    <td>VK123</td>
                    <td>vk@gmail.com</td>
                    <td>Notgiven</td>
                    
                </tr>
        
                <tr>
                    <td>1</td>
                    <td>VK123</td>
                    <td>vk@gmail.com</td>
                    <td>Notgiven</td>
                    
                </tr>
        
                <tr>
                    <td>1</td>
                    <td>VK123</td>
                    <td>vk@gmail.com</td>
                    <td>Notgiven</td>
                    
                </tr>
            </tbody>
            
        </table>
    </div>
</div>

